testData/data/

**/*.exe

**/IO.h
**/dataGen.h
**/geometry.h
**/geometryIO.h
**/parallel.h
**/parseCommandLine.h
**/sequence.h
**/uniform
**/utils.h

!common/IO.h
!common/dataGen.h
!common/geometry.h
!common/geometryIO.h
!common/parallel.h
!common/parseCommandLine.h
!common/sequence.h
!common/uniform
!common/utils.h
